<!--  completion svg -->
<div class="col-md-10 complete center-block blocks" style="display: block;">
  <div class="col-sm-8 col-md-8 col-lg-8 center-block">
    <h1 class="text-muted text-center">TurnKii is completing your request</h1>
    <hr>
    <h5 class="text-muted text-center">If you have any issues or want to cancel an appointment, feel free to contact us at help@turnkii.com or call us at 1888-456-0464! </h5>
  </div>
  <div class="checkmark m-b-20" >
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 130.7 130.7" enable-background="new 0 0 130.7 130.7" xml:space="preserve">
      <circle class="path" fill="none" stroke="#2ecc71" stroke-width="4" stroke-miterlimit="10" cx="65.3" cy="65.3" r="62.1"/></circle>
      <path class="path" fill="none" stroke="#2ecc71" stroke-miterlimit="10" d="M425.9,21.6L425.9,21.6c-2.2-2.6-6-2.6-8.3-0.1l-42.7,46.2l-14.3-16.4
        c-2.3-2.7-6.2-2.7-8.6-0.1c-1.9,2.1-2,5.6-0.1,7.7l17.6,20.3c0.2,0.3,0.4,0.6,0.6,0.9c1.8,2,4.4,2.5,6.6,1.4c0.7-0.3,1.4-0.8,2-1.5
        c0.3-0.3,0.5-0.6,0.7-0.9L425.8,29C427.7,27,427.7,23.6,425.9,21.6z"/>
        <polyline class="path" fill="none" stroke="#2ecc71" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="97.7,37.5
        58.8,93.1 32.9,71.2 "/></polyline></path>
      </svg>
    </div>

    <%= link_to("Finish", fixit_path , class: "btn btn-info btn-lg col-sm-4 col-md-3 center-block") %>
  </div>